<md-toolbar>
  <h1>年賀状デザイン検索</h1>
  <span class="fill-remaining-space"></span>
  <h2>
    あなたのデザインがきっと見つかる
  </h2>
</md-toolbar>

<md-input #tagInput placeholder="タグを探す"></md-input>
<md-card>
  <md-card-content>
    <button md-button><md-icon>label</md-icon>イラスト</button>
    <button md-button><md-icon>label_outline</md-icon>写真</button>
    <button md-button><md-icon>label_outline</md-icon>シンプル</button>
    <button md-button><md-icon>label_outline</md-icon>ねこ</button>
    <button md-button><md-icon>label_outline</md-icon>写真が2点</button>
    <button md-button><md-icon>label_outline</md-icon>写真が3点</button>
  </md-card-content>
</md-card>

<md-card>
  <md-card-content align="end">
    <button md-button><md-icon>zoom_in</md-icon>絞り込む</button>
  </md-card-content>
</md-card>

<md-card>
  <img md-card-image src="http://nenga.aisatsujo.jp/images/items/N17C001b.jpg" />
  <md-card-content>
    <md-card-content>
      <md-list>
         <md-list-item>
            <h4 md-line><md-icon>home</md-icon>挨拶状ドットコム年賀状</h4>
         </md-list-item>
         <md-list-item>
            <h4 md-line><md-icon>print</md-icon>ネットで印刷</h4>
         </md-list-item>
      </md-list>
    </md-card-content>
  </md-card-content>
  <md-card-actions align="center">
    <share-buttons
      [url]="'http://nenga.aisatsujo.jp/item/detail?it=N17C001&cm=nenga&gr=n_genre&tag=n_craft&item_tag_sid=140061'"
      [count]="true"
      [linkedIn]="false"
      [reddit]="false"
      [stumbleUpOn]="false"
    ></share-buttons>
    <button md-raised-button color="accent">サイトに詳細をみにいく</button>
  </md-card-actions>
</md-card>

<md-card>
  <img md-card-image src="http://nenga.aisatsujo.jp/images/items/N17C002b.jpg" />
  <md-card-content>
    <md-card-content>
      <md-icon>home</md-icon>挨拶状ドットコム年賀状
    </md-card-content>
  </md-card-content>
  <md-card-actions align="center">
    <share-buttons
      [url]="'http://nenga.aisatsujo.jp/item/detail?it=N17C002&cm=nenga&gr=n_genre&tag=n_craft&item_tag_sid=140062'"
      [linkedIn]="false"
      [reddit]="false"
      [stumbleUpOn]="false"
    ></share-buttons>
    <button md-raised-button color="accent">サイトに見に行く</button>
  </md-card-actions>
</md-card>

<md-card>
  <img md-card-image src="http://nenga.aisatsujo.jp/images/items/N17C003b.jpg" />
  <md-card-content>
    <md-card-content>
      <md-icon>home</md-icon>挨拶状ドットコム年賀状
    </md-card-content>
  </md-card-content>
  <md-card-actions align="center">
    <share-buttons
      [url]="'http://nenga.aisatsujo.jp/item/detail?it=N17C003&cm=nenga&gr=n_genre&tag=n_craft&item_tag_sid=140063'"
      [count]="true"
      [linkedIn]="false"
      [reddit]="false"
      [stumbleUpOn]="false"
    ></share-buttons>
    <button md-raised-button color="accent">サイトに詳細をみにいく</button>
  </md-card-actions>
</md-card>

<md-card>
  <img md-card-image src="http://nenga.aisatsujo.jp/images/items/N17C004b.jpg" />
  <md-card-content>
    <md-card-content>
      <md-icon>home</md-icon>挨拶状ドットコム年賀状
    </md-card-content>
  </md-card-content>
  <md-card-actions align="center">
    <share-buttons
      [url]="'http://nenga.aisatsujo.jp/item/detail?it=N17C004&cm=nenga&gr=n_genre&tag=n_craft&item_tag_sid=140064'"
      [count]="true"
      [linkedIn]="false"
      [reddit]="false"
      [stumbleUpOn]="false"
    ></share-buttons>
    <button md-raised-button color="accent">サイトに詳細をみにいく</button>
  </md-card-actions>
</md-card>

<md-card>
  <img md-card-image src="http://nenga.aisatsujo.jp/images/items/N17C005b.jpg" />
  <md-card-content>
    <md-card-content>
      <md-icon>home</md-icon>挨拶状ドットコム年賀状
    </md-card-content>
  </md-card-content>
  <md-card-actions align="center">
    <share-buttons
      [url]="'http://nenga.aisatsujo.jp/item/detail?it=N17C005&cm=nenga&gr=n_genre&tag=n_craft&item_tag_sid=140065'"
      [count]="true"
      [linkedIn]="false"
      [reddit]="false"
      [stumbleUpOn]="false"
    ></share-buttons>
    <button md-raised-button color="accent">サイトに詳細をみにいく</button>
  </md-card-actions>
</md-card>
