<md-toolbar>
  <h1>年賀状デザイン検索</h1>
  <span class="fill-remaining-space"></span>
  <h2>
    あなたのデザインがきっと見つかる
  </h2>
</md-toolbar>

<md-input #tagInput placeholder="タグを探す"></md-input>
<md-card>
  <md-card-content>
    <masonry
      [useImagesLoaded]="true"
      [options]="{
        transitionDuration: '0.4s',
        fitWidth: true,
        resize: true
      }"
    >
      <masonry-brick class="tag-brick" *ngFor="let tag of tags">
        <button md-button><md-icon>{{tag.icon}}</md-icon>{{tag.title}}</button>
      </masonry-brick>
    </masonry>
  </md-card-content>
</md-card>

<md-card>
  <md-card-content align="end">
    <button md-button><md-icon>zoom_in</md-icon>絞り込む</button>
  </md-card-content>
</md-card>

<masonry
  [useImagesLoaded]="true"
  [options]="{
    transitionDuration: '0.8s',
    fitWidth: true,
    resize: true
  }"
>
  <masonry-brick class="brick" *ngFor="let item of items">
    <md-card>
      <img md-card-image [src]="item" />
      <md-card-content>
        <md-card-content>
          <md-list>
             <md-list-item>
                <h4 md-line><md-icon>home</md-icon>挨拶状ドットコム年賀状</h4>
             </md-list-item>
             <md-list-item>
                <h4 md-line><md-icon>print</md-icon>ネットで印刷</h4>
             </md-list-item>
          </md-list>
        </md-card-content>
      </md-card-content>
      <md-card-actions align="center">
        <button md-raised-button color="accent">サイトに詳細をみにいく</button>
      </md-card-actions>
    </md-card>
  </masonry-brick>
</masonry>
