<md-toolbar>
  <h1>年賀状デザイン検索</h1>
  <span class="fill-remaining-space"></span>
  <h2>
    あなたのデザインがきっと見つかる
  </h2>
</md-toolbar>

<md-card
  class="key-visual"
>
  <masonry
    [useImagesLoaded]="true"
    [options]="{
      transitionDuration: '0.8s',
      fitWidth: true,
      resize: true
    }"
  >
    <masonry-brick class="brick" *ngFor="let item of items">
      <img [src]="item" />
    </masonry-brick>
  </masonry>
  <md-card-content>
    <md-card-title>年賀状デザイン検索</md-card-title>
    <md-card-subtitle>あなたのデザインがきっと見つかる</md-card-subtitle>
    <p>xxサイトのxxxx以上の年賀デザインかららくらく検索</p>
    <p>きっとあなたのお気に入りのデザインが見つかります<br />元旦のご挨拶には思いのこもったデザインで！</p>
    <p>気になるタグを選ぶだけで年賀状のデザインを簡単に検索</p>
    <p>ご自宅で印刷、ネットで印刷、価格など<br />気になる条件で絞り込みができます</p>
  </md-card-content>
</md-card>

<md-card>
  <md-card-content>
    <md-input #tagInput placeholder="タグを探す"></md-input>
    <masonry
      [useImagesLoaded]="true"
      [options]="{
        transitionDuration: '0.4s',
        fitWidth: true,
        resize: true
      }"
    >
      <masonry-brick class="tag-brick" *ngFor="let tag of tags">
        <button md-button><md-icon>{{tag.icon}}</md-icon>{{tag.title}}</button>
      </masonry-brick>
    </masonry>
  </md-card-content>
</md-card>

<md-card>
  <md-card-content align="end">
    <button md-button><md-icon>zoom_in</md-icon>絞り込む</button>
  </md-card-content>
</md-card>

<masonry
  [useImagesLoaded]="true"
  [options]="{
    transitionDuration: '0.8s',
    resize: true
  }"
>
  <masonry-brick class="brick" *ngFor="let item of items">
    <md-card style="left: 0;right: 0;margin: auto;">
      <img md-card-image [src]="item" />
      <md-card-content>
        <md-card-content>
          <md-list>
             <md-list-item>
                <h4 md-line><md-icon>home</md-icon>挨拶状ドットコム年賀状</h4>
             </md-list-item>
             <md-list-item>
                <h4 md-line><md-icon>print</md-icon>ネットで印刷</h4>
             </md-list-item>
          </md-list>
        </md-card-content>
      </md-card-content>
      <md-card-actions align="center">
        <a data-pin-do="buttonPin" data-pin-tall="true" data-pin-round="true" data-pin-save="true" href="https://www.pinterest.com/pin/create/button/?url=http%3A%2F%2Fnenga.aisatsujo.jp%2Fitem%2Fdetail%3Fit%3DN17C001%26cm%3Dnenga%26gr%3Dn_genre%26tag%3Dn_craft%26item_tag_sid%3D140061&media={{item}}&description=%E3%82%AF%E3%83%A9%E3%83%95%E3%83%88-N17C001" target="_blank"><img src="//assets.pinterest.com/images/pidgets/pinit_fg_en_round_red_32.png" /></a>
        <button md-raised-button color="accent">サイトにアクセスする</button>
      </md-card-actions>
    </md-card>
  </masonry-brick>
</masonry>
